#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 1em;
  padding: 1em;
}

.card_display{
  display: flex;
  flex-wrap: wrap;
}

 .cart_btn::before {
  content: attr(data-count);
  position: absolute;
  top: .2em;
  right: .2em;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: white;
}

.nav_bar ul{
  display: flex;
  padding-right: 10px;
}
.nav_bar ul li{
  padding: 5px;
  margin-left: 8px;
  border-radius: 5px;
  background-color: #f4f2ed;
}
.nav_bar ul li:hover{
  background-color: rgb(59 130 246 );
  color: white;
  border: none;
}



